<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"/>
  <title>{{ page_title }}</title>
  <meta name="description" content="If you're looking for a different way to display your GitHub profile, similar to LinkTree but specifically for GitHub, you can consider using GHTree"/>

  <!-- OPTIONAL: Facebook Open Graph: https://developers.facebook.com/docs/sharing/opengraph -->
  <meta property="og:site_name" content="GHTree"/>
  <meta property="og:type" content="If you're looking for a different way to display your GitHub profile, similar to LinkTree but specifically for GitHub, you can consider using GHTree"/>
  <meta property="og:title" content="{{ page_title }}"/>
  <meta property="og:description"  content="If you're looking for a different way to display your GitHub profile, similar to LinkTree but specifically for GitHub, you can consider using GHTree"/>
  <!--<meta property="og:url" content="https://rooyca.github.io/ghtree"/>-->

  <!-- OPTIONAL: Favicon! -->
  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
  <link rel="manifest" href="/static/favicon/site.webmanifest">

  <!-- CSS -->
  <link rel="stylesheet" href="/static/css/main.css" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- JS -->
  <script src="/static/js/htmx.min.js"></script>
</head>

<body style="background-image:linear-gradient(rgba(0, 0, 40, 0.8),rgba(0, 0, 40, 0.8))">

{% block content %}
{% endblock %}

{% block footer %}
{% include "/shared/_footer.html" %}
{% endblock %}

</body>
</html>