{% extends "/shared/_base.html" %}

{% block content %}
<div 
    id="main"
    class="w-full flex px-8 justify-center items-center flex-col gap-8 bg-cover bg-no-repeat bg-gray-100  text-black"
    style="height: 100vh; font-family: 'Open Sans'; background-image:linear-gradient(rgba(0, 0, 40, 0.8),rgba(0, 0, 40, 0.8)), url('https://raw.githubusercontent.com/brave/brave-core/1.5.x/components/img/newtab/ntp-8.webp');"
    >
    <div class="text-center bg-gray-100 p-8 rounded">
        <input type="text" 
               value=""
               name="username"
               placeholder="GitHub Username" 
               hx-get='/'
               hx-swap="innerHTML"
               hx-trigger="[Enter]"
               hx-target="body"
               style="height:27px; border:1px solid purple; border-radius:4px; padding:5px">
        <button 
            class="font-bold text-purple-500 border-4 border-gray-900" 
            style="border:1px solid purple; padding:1px; border-radius:5px; padding-left: 7px; padding-right: 7px; margin-left:6px"
            >
            Search
        </button>
    </div>
</div>

{% endblock %}
