{% extends "/shared/_base.html" %}

{% block content %}

    <div
      class="w-full flex px-8 justify-center items-center flex-col gap-8 bg-cover bg-no-repeat bg-gray-100  text-black"
      style="height: 100vh; font-family: 'Open Sans'; background-image:linear-gradient(rgba(0, 0, 40, 0.8),rgba(0, 0, 40, 0.8)), url('https://raw.githubusercontent.com/brave/brave-core/1.5.x/components/img/newtab/ntp-8.webp');"
    >
      <div class="space-y-4 text-center text-purple-500 bg-gray-100 p-8 rounded ">
        <img src="{{avatar_url}}" 
            width="120" height="120" 
            alt="procfile picture"
            class="rounded-full relative left-1/2 transform -translate-x-1/2"
            />
        <a href="{{html_url}}" class="text-3xl inline-block font-bold" target="_blank">
          <h1 >{{login}} 
            {% if name %} 
                <span>({{name}})</span>
            {% endif %}
          </h1>
        </a>
        {% if bio %}
          <p class="text-gray-600 w-fit lg:w-80" style="font-family:sans-serif;">{{bio}}</p>
        {% endif %}
        <div class="flex justify-center">
        <ul class="flex gap-3">
          {% if twitter %}
          <li>
            <a href="{{twitter}}" target="_blank">
              <i class="fa-brands fa-twitter"></i>
            </a>
          </li>
            {% endif %}
          <li>
            <a href="{{html_url}}" target="_blank">
              <i class="fa-brands fa-github"></i>
            </a>
          </li>
          {% if blog %}
          <li>
            <a href="{{blog}}" target="_blank">
              <i class="fa-solid fa-globe"></i>
            </a>
          </li>
            {% endif %}
        </ul>
        </div>
      </div>
    </div>
    <style type="text/css">
      i {
        font-size: 1.2rem;
      }
    </style>
{% endblock %}